.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #28c783;
}

.buscador {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buscador {
  max-width: 600px;
  border: 0px;
  border-bottom: 2px solid #28c783;
  outline: none;
}

#buscador:focus {
  outline: none;
  border: 2px solid #28c783;
  border-radius: 0.2rem;
}

* {
  background-color: #212529;
}

.form-control:focus {
  border-color: #28c783;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(96, 200, 112, 0.6);
}

body {
  color: gainsboro;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-decoration: none;
}

.footer a {
  color: #28c783;
  text-decoration: none;
}
